In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint

In [52]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)
try:
    mongo = MongoClient(port=27017)
    db = mongo['UK_food']
    collections = db.list_collection_names()
    print('Collections in the database:', collections)
except Exception as e:
    print(f'Error: {e}')

Collections in the database: []

In [57]:
# assign the uk_food database to a variable name
db_list = mongo.list_database_names()
print('Databases:', db_list)

Databases: ['admin', 'classDB', 'config', 'local', 'uk_food']

In [58]:
establishments = db['establishments']

In [59]:
collection = db['establishments']  # Replace 'your_collection_name' with the actual collection name
query = {'scores.Hygiene': 20}
results = list(collection.find(query))

# Convert to a DataFrame and inspect
import pandas as pd
df = pd.DataFrame(results)
print('Number of rows in the dataframe:', len(df))
print(df.head(10))

Number of rows in the dataframe: 0
Empty DataFrame
Columns: []
Index: []

In [56]:
collection = db['establishments']
query = {'scores.Hygiene': 20}

# Execute the query and print out some results
results = list(collection.find(query))

# Check if any documents were returned
if results:
    print('Number of documents matching the query:', len(results))
    print('Sample document:', results[0])
else:
    print('No documents found matching the query.')

No documents found matching the query.

In [38]:
db = mongo['classDB']
collections = db.list_collection_names()
print('Collections in classDB:', collections)

Collections in classDB: ['classroom']

In [45]:
sample_doc = collection.find_one()
print('Sample document structure:', sample_doc)

Sample document structure: None

In [48]:
import pandas as pd
from pymongo import MongoClient

# Create MongoDB client and connect to the 'uk_food' database
mongo = MongoClient(port=27017)
db = mongo['uk_food']
collection = db['establishments']

# Define and execute the query
query = {'scores.Hygiene': 20}
results = list(collection.find(query))

# Check and convert results to DataFrame
if results:
    print(f'Number of documents matching the query: {len(results)}')
    df = pd.DataFrame(results)
    print('Number of rows in the dataframe:', len(df))
    print(df.head(10))
else:
    print('No documents found matching the query.')

No documents found matching the query.

In [23]:
# Aggregation to find unique Hygiene scores
hygiene_scores = collection.distinct('scores.Hygiene')
print('Unique Hygiene scores:', hygiene_scores)

Unique Hygiene scores: [None, 0, 5, 10, 15, 20, 25]

In [24]:
# Count the number of documents in the collection
document_count = collection.count_documents({})
print(f'Total number of documents in the collection: {document_count}')

Total number of documents in the collection: 39780

In [25]:
# review the collections in our database
db.list_collection_names()

['sample_collection', 'establishments']

In [26]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [27]:
# # Find the establishments with a hygiene score of 20
# query = {'scores.Hygiene': 20}
# results = establishments.find(query)

# # Use count_documents to display the number of documents in the result
# print(f'There are {establishments.count_documents(query)} establishments with a hygiene score of 20.')
# # Display the first document in the results using pprint
# pprint(results[0])
from pprint import pprint

query = {'scores.Hygiene': 20}

# Use count_documents to display the number of documents in the result
hygiene_count = establishments.count_documents(query)
print('Number of documents:', hygiene_count)

# Display the first document in the results using print
hygiene_results = establishments.find_one(query)
pprint(hygiene_results)

Number of documents: 42
{'_id': ObjectId('66bf0f3d5d184efb083b8ee2'),
 'name': 'Sample Establishment',
 'scores': {'ConfidenceInManagement': 10, 'Hygiene': 20, 'Structural': 15}}

In [28]:
import pandas as pd

# Convert the result to a Pandas DataFrame
hygiene_results = establishments.find(query)
hygiene_df = pd.DataFrame(hygiene_results)

# Display the number of rows in the DataFrame
print('Number of rows in the dataframe:', len(hygiene_df))

# Display the first 10 rows of the DataFrame
hygiene_df.head(10)

Number of rows in the dataframe: 42

,_id,name,scores,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,...,LocalAuthorityName,LocalAuthorityWebSite,LocalAuthorityEmailAddress,SchemeType,geocode,RightToReply,Distance,NewRatingPending,meta,links
0,66bf0f3d5d184efb083b8ee2,Sample Establishment,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,66bf10b05d184efb083bacfc,NaN,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",110681.0,0.0,4029,The Chase Rest Home,Caring Premises,5.0,5-6 Southfields Road,...,Eastbourne,http://www.eastbourne.gov.uk/foodratings,Customerfirst@eastbourne.gov.uk,FHRS,"{'longitude': '0.27694', 'latitude': '50.769705'}",,4613.888288,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
2,66bf10b05d184efb083bb07d,NaN,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...",612039.0,0.0,1970/FOOD,Brenalwood,Caring Premises,5.0,Hall Lane,...,Tendring,http://www.tendringdc.gov.uk/,fhsadmin@tendringdc.gov.uk,FHRS,"{'longitude': '1.278721', 'latitude': '51.8575...",,4617.965824,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
3,66bf10b05d184efb083bb387,NaN,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",730933.0,0.0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842.0,53 Marine Parade East,...,Tendring,http://www.tendringdc.gov.uk/,fhsadmin@tendringdc.gov.uk,FHRS,"{'longitude': '1.15927', 'latitude': '51.789429'}",,4619.656144,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
4,66bf10b05d184efb083bb575,NaN,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",172735.0,0.0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844.0,4 High Street,...,Lewes,http://www.lewes-eastbourne.gov.uk/,ehealth.ldc@lewes-eastbourne.gov.uk,FHRS,"{'longitude': '0.10202', 'latitude': '50.770885'}",,4620.421725,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
5,66bf10b05d184efb083bb584,NaN,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",172953.0,0.0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1.0,5 South Street,...,Lewes,http://www.lewes-eastbourne.gov.uk/,ehealth.ldc@lewes-eastbourne.gov.uk,FHRS,"{'longitude': '0.101446', 'latitude': '50.7707...",,4620.437179,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
6,66bf10b05d184efb083bbf23,NaN,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",512854.0,0.0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613.0,777 Southchurch Road,...,Southend-On-Sea,http://www.southend.gov.uk,EnvironmentalHealth@southend.gov.uk,FHRS,"{'longitude': '0.736349', 'latitude': '51.5414...",,4625.565258,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
7,66bf10b05d184efb083bc144,NaN,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",1537089.0,0.0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1.0,33 Alexandra Street,...,Southend-On-Sea,http://www.southend.gov.uk,EnvironmentalHealth@southend.gov.uk,FHRS,"{'longitude': '0.7121671', 'latitude': '51.535...",,4626.200132,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
8,66bf10b05d184efb083bd66f,NaN,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...",155648.0,0.0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844.0,7 London Road,...,Rochford,http://www.rochford.gov.uk,customerservices@rochford.gov.uk,FHRS,"{'longitude': '0.602364', 'latitude': '51.5915...",,4632.276890,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f..."
9,66bf10b05d184efb083bdab3,NaN,"{'Hygiene': 20, 'Structural': 5, 'ConfidenceIn...",1012883.0,0.0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1.0,3 The Village,...,Sevenoaks,http://www.sevenoaks.gov.uk/,environmental.health@sevenoaks.gov.uk,FHRS,"{'longitude': '0.146449998021126', 'latitude':...",,4633.934041,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f..."

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [44]:
query = {'LocalAuthorityName': {'$regex':'London'}, 
         'RatingValue': {'$gte': 4}}

# Use count_documents to display the number of documents in the result
rating_count = establishments.count_documents(query)
print("Number of documents matching the query:", rating_count)

# Display the first document in the results using pprint
rating_results = establishments.find_one(query)
pprint(rating_results)

Number of documents matching the query: 0
None

In [45]:
 #convert the result to a Pandas DataFrame
rating_results = establishments.find(query)
rating_df = pd.DataFrame(rating_results)

# Display the number of rows in the DataFrame
print('Number of rows in the dataframe:', len(rating_df))
# Display the first 10 rows of the DataFrame
rating_df.head(10)

Number of rows in the dataframe: 0

Empty DataFrame
Columns: []
Index: []

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [46]:
# # Search within 0.01 degree on either side of the latitude and longitude.
# # Rating value must equal 5
# # Sort by hygiene score

degree_search = 0.01
latitude = 51.49014200
longitude = 0.08384000

query = {'geocode.latitude':{'$gte':latitude-degree_search, '$lte':latitude+degree_search},
         'geocode.longitude':{'$gte':longitude-degree_search, '$lte':longitude+degree_search},
         'RatingValue':5}

sort = [('scores.Hygiene', 1)]
limit = 5
penang_prox_results = list(establishments.find(query).sort(sort).limit(limit))

# Print the results
pprint(penang_prox_results)

[]

In [49]:
# Convert result to Pandas DataFrame
penang_prox_df= pd.DataFrame(penang_prox_results)
penang_prox_df

Empty DataFrame
Columns: []
Index: []

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [50]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
match_query = {'$match': {'scores.Hygiene':0}}

# 2. Groups the matches by Local Authority
group_query = {'$group': {'_id': '$LocalAuthorityName', 'count': {'$sum': 1}}}

# 3. Sorts the matches from highest to lowest
sort_values = {'$sort': {'count': -1}}

pipeline = [match_query, group_query, sort_values]

# Print the number of documents in the result
pipe_agg = list(establishments.aggregate(pipeline))
print(f'There are {len(pipe_agg)} documents in this result.')

# Print the first 10 results
pprint(pipe_agg[0:10])

There are 56 documents in this result.
[{'_id': 'Thanet', 'count': 1130},
 {'_id': 'Greenwich', 'count': 882},
 {'_id': 'Maidstone', 'count': 713},
 {'_id': 'Newham', 'count': 711},
 {'_id': 'Swale', 'count': 686},
 {'_id': 'Chelmsford', 'count': 680},
 {'_id': 'Medway', 'count': 672},
 {'_id': 'Bexley', 'count': 607},
 {'_id': 'Southend-On-Sea', 'count': 586},
 {'_id': 'Tendring', 'count': 542}]

In [51]:
# Convert the result to a Pandas DataFrame
pipeline_df = pd.DataFrame(pipe_agg)

# Display the number of rows in the DataFrame
print(f'There are {len(pipeline_df)} rows in this DataFrame.')

# Display the first 10 rows of the DataFrame
pipeline_df.head(10)

There are 56 rows in this DataFrame.

               _id  count
0           Thanet   1130
1        Greenwich    882
2        Maidstone    713
3           Newham    711
4            Swale    686
5       Chelmsford    680
6           Medway    672
7           Bexley    607
8  Southend-On-Sea    586
9         Tendring    542